/* 
------------------
MAIN CRAP
-----------------
*/

* {
    font-family: Poppins, sans-serif;
}

body {
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.img-left {
    height: 100%;
    width: 50%;
    background-image: url('/css/plantify.png');
    background-size: cover;
    border-radius: 2px !important;

}


a {
    text-decoration: none;
}



/* 
------------------
CAROUSEL
-----------------
*/

.carousel-container {
    position: absolute;
    bottom: 1;
    top: 1;
    left: 1;
    right: 1;
}

.carousel-slide {
    width: 10%;
}

.carousel-item {
    height: 32rem;
    width: 100%;
    color: white;
    position: relative;

}

.carousel-item img {
    position: relative;
    width: 100%;
    height: 100%;
}



/* 
------------------
CARD 
-----------------
*/

#login-hero,
#register-hero {
    border-radius: 10px !important;
    margin-top: 8rem;

}



.login-card,
.register-card .setup-card {
    display: flex;
    margin: 2rem 2rem;
    overflow: hidden;
    border: 0 !important;
    border-radius: 10px !important;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);

}

/* 
------------------
INPUT FORM
-----------------
*/


.form-input input {
    width: 100%;
    height: 55px;
    padding-left: 1rem;
    margin-bottom: .5rem;
    box-sizing: border-box;
    box-shadow: none;
    border: 1px solid #00000020;
    border-radius: 10px;
    outline: none;
    background: transparent;

}



.input-select select {
    width: 100%;
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid #00000020;
    border-radius: 10px;
    outline: none;
    background: transparent;
}

.input-select select:focus,
.input-select select:valid {
    border: 2px solid #39976b;
}


.txtarea {
    width: 100%;
    padding-left: 1rem;
    margin-bottom: .5rem;
    box-sizing: border-box;
    box-shadow: none;
    border: 1px solid #00000020;
    border-radius: 10px;
    outline: none;
    background: transparent;
}

.txtarea textarea:focus,
.txtarea textarea:valid {
    border: 2px solid #39976b;
}

/* 
.form-input span {
    position: absolute;
    top: 10px;
    padding-left: 15px;
    color: #3fca89;
} */

.form-input input:focus,
.form-input input:valid {
    border: 2px solid #39976b;
}


.form-input input::placeholder {
    color: black;
    padding-left: 0px;
}

.cp-input input {
    color: red;
}



/* 
------------------
BUTTONS
-----------------
*/


#plantify-button {
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background: #30DE8D;
    color: rgba(255, 255, 255, 0.917);
    font-weight: bold;
    letter-spacing: .1rem;
    transition: 0.5s;
    padding: 10px;
    font-weight: bold;
}

.google-button {
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background: #FF1D23;
    color: rgba(255, 255, 255, 0.917);
    font-weight: bold;
    letter-spacing: .1rem;
    transition: 0.5s;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;

}


.fb-button {
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background: #365FB7;
    color: rgba(255, 255, 255, 0.917);
    font-weight: bold;
    letter-spacing: .1rem;
    transition: 0.5s;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;

}


/* 
------------------
NAVBAR
-----------------
*/



.navbar-brand {
    width: 5em;
    height: 2em;
    color: white;
}

.nav-item {
    font-size: small;
    margin-top: .5rem;
    float: left;
}

.nav-search input {

    width: 20rem;
    box-sizing: border-box;
    box-shadow: none;
    border: 1px solid #00000020;
    border-radius: 10px;
    outline: none;
    margin-top: .5rem;
}

.navbar {
    background-color: #39976b;

}

#bars {
    color: white;
}

#cta {
    text-decoration: none;
    color: white;
    padding-right: .5rem;

}

#plantify-secondary-navbar {
    background-color: #329c6b;
}




.nav-link {
    text-decoration: none;
    color: white
}

/* 
------------------
SPECIAL INPUTS
(I.E Birthday, Gender etc.) 
-----------------
*/


.aux-container {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    padding-top: 1rem;
}

/* 
------------------
STOREFRONT
-----------------
*/
.row {
    padding: .5rem;
    margin: 1rem;
}

.category-link a {
    text-decoration: none;
    color: #707070;
}



/* 
------------------
error handling
-----------------
*/

.error-message {
    margin-top: 1rem;
    font-size: small;
    color: red;
    font-family: Poppins, sans-serif;
}

/* 
------------------
Profile Page
-----------------
*/

.left-div {
    background-color: #39976b;
}

.card-row {
    border: 2px;
    border: black;
    border-width: 1rem;
}


/* 
------------------
Shopping Cart
-----------------
*/

/* 
------------------
Avatar
-----------------
*/
.avatar {
    /* border: 1px solid #cccccc; */
    border-radius: 5px;
    width: 8rem;
    height: 8rem;
    margin-top: .5rem;
    /* float: left; */
    /* margin-right: 7px; */
}

.admin-avatar {
    /* border: 1px solid #cccccc; */
    border-radius: 5px;
    width: 3rem;
    height: 3rem;
    /* margin-top: .5rem; */
    float: left;
    margin-right: 8px;
}

.nav-avatar {
    /* border: 1px solid #cccccc; */
    border-radius: 5px;
    width: 3rem;
    height: 3rem;
    /* margin-top: .5rem; */
    float: right;
    /* margin-right: 8px; */
}

/* 
------------------
SIDEBAR
-----------------
*/

#wrapper {
    padding-right: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-right: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 250px;
    width: 0;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-left: -250px;
}

/* Sidebar Styles */

.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
    z-index: 3;
}

.page-content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
}

#sidebar.active {
    margin-left: -17rem;
}

#content.active {
    width: 100%;
    margin: 0;
}

.separator {
    margin: 3rem 0;
    border-bottom: 1px dashed #fff;
}

.text-uppercase {
    letter-spacing: 0.1em;
}

.text-gray {
    color: #aaa;
}

.nav-link {
    text-transform: capitalize;
}

.text-primary {
    color: #7579e7 !important;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -17rem;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #content {
        width: 100%;
        margin: 0;
    }

    #content.active {
        margin-left: 17rem;
        width: calc(100% - 17rem);
    }
}
